// 颜色定义规范
$color-background = #222
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #ffcd32
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(0, 0, 0, 1)
$color-text-ll = rgba(255, 255, 255, 0.8)
$color-white = rgba(255,255,255,.8)
$color-light-grey-s = #ccc

//2018-04-25 新增
$page-background = #fff

//首页头部导航
$background-home = #032034
$background-D1 = #D1D1D1
$background-F3 = #F3F3F3
$background-F0 = #F0F0F0
$background-FA = #FFA229
$background-FF = #ffffff
$background-63 = #63D790 
$background-53 = #53C3F0 //卡包核销背景色
$background-09 = #009fdf //日程表title背景色
$background-9F = #009FDF //个人信息背景
$background-8E = #8E8E93
$background-1A = #1AAD19

$color-FB = #ffb437

$color-66 = #666666
$color-22 = #222222
$color-99 = #999999
$color-00 = #000000 //黑色
$color-FF = #ffffff //白色
$color-CC = #cccccc
$color-A9 = #A9E646
$color-8E = #8ECC2B
$color-DC = #DC3817
$color-AF = #afe858	//绿色
$color-FA = #ffa229 //日程表hover
$color-CA = #CACCC2 //互动专区
$color-99 = #999999
$color-1A = #1A1A1A //赚积分
$color-EC = #EC3224 //物流
$color-D0 = #d0cfcf //激活会员卡
$color-F8 = #F83131


$border-bottom-color = rgba(0,0,0,0.05)
$border-color-33 = #333
$border-color-CC = #ccc


//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
$font-size-nav-icon = 23px
$font-size-large-l = 24px
$font-size-nav = 10px



//积分页面字
$font-size-icon = 20px